.fade-in {
  opacity: 0;
  transform: translateY(30px);
  animation: fadeIn 1s forwards;
}

.delay {
  animation-delay: 0.4s;
}

@keyframes fadeIn {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.card:hover {
  transform: scale(1.05);
  transition: 0.3s;
}
